/* line 5, ../../../../../Users/user/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Users/user/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Users/user/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Users/user/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Users/user/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Users/user/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Users/user/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Users/user/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Users/user/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: mplus-1p-regular;
  src: url("../fonts/mplus-1p-regular.ttf") format("truetype");
}
@font-face {
  font-family: mplus-2c-thin;
  src: url("../fonts/mplus-2c-thin.ttf") format("truetype");
}
@font-face {
  font-family: mplus-2c-medium;
  src: url("../fonts/mplus-2c-medium.ttf") format("truetype");
}
/* line 112, ../dev/scss/main.scss */
html {
  width: 100%;
  font-size: 62.5%;
  /*10px */
  font-family: mplus-1p-regular;
}

/* line 118, ../dev/scss/main.scss */
body {
  width: 100%;
  overflow-x: hidden;
}

/* line 123, ../dev/scss/main.scss */
article.wrap {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: relative;
}

/* line 134, ../dev/scss/main.scss */
h1.headline {
  padding-top: 80px;
  text-align: center;
}

/* line 139, ../dev/scss/main.scss */
.content,
.content2,
.content3 {
  width: 860px;
  margin: 60px auto 0 auto;
}
/* line 145, ../dev/scss/main.scss */
.content .sec-text,
.content .sec-copy,
.content2 .sec-text,
.content2 .sec-copy,
.content3 .sec-text,
.content3 .sec-copy {
  font-size: 1.6rem;
  line-height: 1.8;
}
/* line 151, ../dev/scss/main.scss */
.content .sec-copy,
.content2 .sec-copy,
.content3 .sec-copy {
  text-align: center;
}

/* line 156, ../dev/scss/main.scss */
.slider {
  text-align: center;
}

/* line 164, ../dev/scss/main.scss */
.sec1 {
  width: 100%;
  height: 680px;
  top: 0;
  /* height: 380px; */
  background: url(../img/sec1_bg.png);
  position: relative;
}
/* line 171, ../dev/scss/main.scss */
.sec1 h1.logo {
  top: 50%;
  left: 50%;
  margin: -96px auto auto -168px;
  position: absolute;
}

/* line 183, ../dev/scss/main.scss */
.sec2 {
  width: 100%;
  /* height: 782px; */
  height: auto;
  min-height: 100%;
  padding-bottom: 80px;
  background: url(../img/sec2_bg.png);
  background-size: cover;
  font-family: 'mplus-2c-thin', sans-serif;
  color: #fff;
  font-size: 2.0rem;
  position: relative;
}
/* line 196, ../dev/scss/main.scss */
.sec2 .l-img-r-content .left {
  float: left;
  margin-right: 30px;
}
/* line 199, ../dev/scss/main.scss */
.sec2 .l-img-r-content .left img.photo {
  /* display: none; */
}
/* line 200, ../dev/scss/main.scss */
.sec2 .l-img-r-content .left ul.sns-ico {
  margin-top: 10px;
  vertical-align: middle;
}
/* line 203, ../dev/scss/main.scss */
.sec2 .l-img-r-content .left ul.sns-ico li {
  margin-right: 10px;
  display: inline;
}
/* line 204, ../dev/scss/main.scss */
.sec2 .l-img-r-content .left ul.sns-ico li.ico-twitter a {
  width: 29px;
  height: 24px;
}
/* line 205, ../dev/scss/main.scss */
.sec2 .l-img-r-content .left ul.sns-ico li.ico-facebook a {
  width: 25px;
  height: 25px;
}
/* line 208, ../dev/scss/main.scss */
.sec2 .l-img-r-content .right {
  overflow: hidden;
}
/* line 210, ../dev/scss/main.scss */
.sec2 .l-img-r-content .right h2, .sec2 .l-img-r-content .right dt {
  font-weight: bold;
}
/* line 211, ../dev/scss/main.scss */
.sec2 .l-img-r-content .right h2 {
  margin-top: 30px;
  font-size: 1.6rem;
  line-height: 1.6;
}
/* line 212, ../dev/scss/main.scss */
.sec2 .l-img-r-content .right dl {
  margin-top: 20px;
}
/* line 214, ../dev/scss/main.scss */
.sec2 .l-img-r-content .right dl dt {
  margin: 10px 0;
  font-size: 1.6rem;
  line-height: 1.6;
}
/* line 215, ../dev/scss/main.scss */
.sec2 .l-img-r-content .right dl dd {
  display: inline;
  font-size: 1.6rem;
  line-height: 1.6;
}
/* line 216, ../dev/scss/main.scss */
.sec2 .l-img-r-content .right dl dt + dd {
  margin-left: 15px;
}
/* line 219, ../dev/scss/main.scss */
.sec2 .l-img-r-content:after {
  content: "";
  display: block;
  clear: both;
}

/* line 227, ../dev/scss/main.scss */
.sec3 {
  width: 100%;
  height: auto;
  min-height: 100%;
  padding-bottom: 80px;
  background: url(../img/sec3_bg.png);
  font-family: mplus-1p-regular;
  font-size: 1.6rem;
  position: relative;
}
/* line 237, ../dev/scss/main.scss */
.sec3 h2.sec3-h2 {
  margin-top: 60px;
  padding: 24px 0 24px 24px;
  font-size: 2.0rem;
  line-height: 2.0;
  font-weight: bold;
  color: #720000;
  border-top: 2px solid #720000;
  border-bottom: 2px solid #720000;
}
/* line 248, ../dev/scss/main.scss */
.sec3 table.price-table {
  width: 690px;
  margin: 20px auto auto auto;
  position: relative;
}
/* line 253, ../dev/scss/main.scss */
.sec3 table.price-table tr td.price-headline {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #720000;
  border: none;
  border-bottom: 2px solid #720000;
}
/* line 260, ../dev/scss/main.scss */
.sec3 table.price-table tr td {
  font-size: 1.6rem;
  line-height: 1.6;
  padding: 20px;
  border: 1px dotted #720000;
}
/* line 266, ../dev/scss/main.scss */
.sec3 table.price-table tr td:first-child {
  border-left: none;
}
/* line 267, ../dev/scss/main.scss */
.sec3 table.price-table tr td:last-child {
  border-right: none;
}

/* line 289, ../dev/scss/main.scss */
.sec4 {
  width: 100%;
  height: auto;
  min-height: 100%;
  padding-bottom: 80px;
  background: url(../img/sec4_bg.png);
  font-family: mplus-1p-regular;
  font-size: 1.6rem;
  position: relative;
}
/* line 299, ../dev/scss/main.scss */
.sec4 .portfolio-main {
  margin-top: 60px;
}
/* line 301, ../dev/scss/main.scss */
.sec4 .portfolio-main:after {
  content: "";
  clear: both;
  display: block;
}
/* line 303, ../dev/scss/main.scss */
.sec4 .portfolio-main .portfolio-main-1 {
  width: 396px;
  float: left;
}
/* line 307, ../dev/scss/main.scss */
.sec4 .portfolio-main .portfolio-main-2 {
  width: 396px;
  margin-top: 120px;
  float: right;
}
/* line 313, ../dev/scss/main.scss */
.sec4 .portfolio-main dl.comment {
  height: auto;
  padding: 20px;
  margin: 20px auto auto auto;
  text-align: center;
  box-sizing: border-box;
}
/* line 314, ../dev/scss/main.scss */
.sec4 .portfolio-main dl.comment dt {
  width: 274px;
  background: url(../img/portfolio/portfolio-main-comment-bg.png) repeat-y;
}
/* line 285, ../dev/scss/main.scss */
.sec4 .portfolio-main dl.comment dt {
  margin: auto auto 20px auto;
  padding: 20px;
  font-size: 1.6rem;
  color: #93721c;
  text-shadow: -1px -1px 0 #000;
  line-height: 1.4;
  border-bottom: 1px solid #5d4710;
  box-sizing: border-box;
}
/* line 286, ../dev/scss/main.scss */
.sec4 .portfolio-main dl.comment dd {
  padding: 20px;
  background: #fff;
  color: #333;
  font-size: 1.4rem;
  line-height: 1.5;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
/* line 320, ../dev/scss/main.scss */
.sec4 .portfolio-sub {
  width: 860px;
  margin: 60px;
  margin-left: -60px;
  display: inline-block;
}
/* line 325, ../dev/scss/main.scss */
.sec4 .portfolio-sub:after {
  content: "";
  clear: both;
  display: block;
}
/* line 327, ../dev/scss/main.scss */
.sec4 .portfolio-sub .portfolio-sub-item {
  width: 222px;
  text-align: center;
  margin-left: 60px;
  float: left;
}
/* line 334, ../dev/scss/main.scss */
.sec4 .portfolio-sub dl.comment {
  height: auto;
  padding: 20px;
  margin: 20px auto auto auto;
  text-align: center;
  box-sizing: border-box;
}
/* line 335, ../dev/scss/main.scss */
.sec4 .portfolio-sub dl.comment dt {
  margin: auto;
  background: url(../img/portfolio/portfolio-sub-comment-bg.png) repeat-y;
}
/* line 285, ../dev/scss/main.scss */
.sec4 .portfolio-sub dl.comment dt {
  margin: auto auto 20px auto;
  padding: 20px;
  font-size: 1.6rem;
  color: #93721c;
  text-shadow: -1px -1px 0 #000;
  line-height: 1.4;
  border-bottom: 1px solid #5d4710;
  box-sizing: border-box;
}
/* line 286, ../dev/scss/main.scss */
.sec4 .portfolio-sub dl.comment dd {
  padding: 20px;
  background: #fff;
  color: #333;
  font-size: 1.4rem;
  line-height: 1.5;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

/* line 348, ../dev/scss/main.scss */
.sec5 {
  width: 100%;
  height: auto;
  min-height: 100%;
  padding-bottom: 80px;
  background: url(../img/sec5_bg.jpg);
  color: #fffac6;
  font-family: mplus-1p-regular;
  font-size: 1.6rem;
  position: relative;
}
/* line 359, ../dev/scss/main.scss */
.sec5 .attention {
  font-size: 1.2rem;
}
/* line 373, ../dev/scss/main.scss */
.sec5 dl.form-block {
  display: inline-block;
}
/* line 376, ../dev/scss/main.scss */
.sec5 dl.form-block dt {
  width: 180px;
  text-align: right;
  margin: 0 20px 30px auto;
  float: left;
  clear: left;
}
/* line 384, ../dev/scss/main.scss */
.sec5 dl.form-block dd {
  width: 380px;
  margin: 0 0 30px 0;
  text-align: left;
  word-break: break-all;
  float: left;
}
/* line 391, ../dev/scss/main.scss */
.sec5 dl.form-block dd input,
.sec5 dl.form-block dd select,
.sec5 dl.form-block dd textarea {
  width: 380px;
}
/* line 400, ../dev/scss/main.scss */
.sec5 form.contact-form {
  margin: 60px auto auto auto;
  text-align: center;
  display: block;
}
/* line 407, ../dev/scss/main.scss */
.sec5 .check-bt,
.sec5 .submit-bt,
.sec5 .reset-bt {
  width: 288px;
  height: 88px;
  padding: 0;
  margin: 80px auto auto auto;
  clear: both;
  cursor: pointer;
  line-height: 0;
  border-style: none;
  font-size: 0;
  display: block;
}
/* line 423, ../dev/scss/main.scss */
.sec5 .set-bt:after {
  content: "";
  clear: both;
  display: block;
}
/* line 426, ../dev/scss/main.scss */
.sec5 .check-bt {
  background: url(../img/check_bt.png) no-repeat;
}
/* line 428, ../dev/scss/main.scss */
.sec5 .check-bt:hover {
  background: url(../img/check_bt_over.png) no-repeat;
}
/* line 433, ../dev/scss/main.scss */
.sec5 .submit-bt {
  background: url(../img/submit_bt.png) no-repeat;
  display: inline;
}
/* line 436, ../dev/scss/main.scss */
.sec5 .submit-bt:hover {
  background: url(../img/submit_bt_over.png) no-repeat;
}
/* line 441, ../dev/scss/main.scss */
.sec5 .reset-bt {
  background: url(../img/reset_bt.png) no-repeat;
  display: inline;
}
/* line 444, ../dev/scss/main.scss */
.sec5 .reset-bt:hover {
  background: url(../img/reset_bt_over.png) no-repeat;
}
/* line 449, ../dev/scss/main.scss */
.sec5 .privacy {
  width: 860px;
  margin: 80px auto auto auto;
  padding: 25px;
  background: url(../img/sec5_privacy_bg.jpg);
  border: 1px solid #fffac6;
  color: #fff;
  font-family: 'mplus-2c-thin', sans-serif;
}
/* line 457, ../dev/scss/main.scss */
.sec5 .privacy dt {
  line-height: 1.6;
  margin-bottom: 18px;
  font-weight: bold;
}
/* line 460, ../dev/scss/main.scss */
.sec5 .privacy dt h2 {
  font-size: 2.0rem;
}
/* line 461, ../dev/scss/main.scss */
.sec5 .privacy dt h3 {
  margin-top: 18px;
  font-size: 1.8rem;
}
/* line 463, ../dev/scss/main.scss */
.sec5 .privacy dd {
  font-size: 1.4rem;
  line-height: 1.6;
}
/* line 465, ../dev/scss/main.scss */
.sec5 .privacy dd ul {
  margin: 10px 0 0 40px;
}
/* line 467, ../dev/scss/main.scss */
.sec5 .privacy dd ul li {
  list-style-type: disc;
}

/* line 478, ../dev/scss/main.scss */
footer {
  width: 100%;
  height: 260px;
  /* 	height: auto;
  min-height: 100%;
   */
  background: url(../img/sec1_bg.png);
  color: #fffac6;
  font-size: 1.6rem;
  bottom: 0;
  position: relative;
}
/* line 489, ../dev/scss/main.scss */
footer ul.ft-menu {
  width: 500px;
  top: 20px;
  left: 50%;
  position: absolute;
  margin-left: -250px;
}
/* line 495, ../dev/scss/main.scss */
footer ul.ft-menu li {
  display: inline;
  vertical-align: middle;
  font-family: mplus-2c-medium;
}
/* line 497, ../dev/scss/main.scss */
footer ul.ft-menu a:link, footer ul.ft-menu avisited {
  color: #fffac6;
}
/* line 498, ../dev/scss/main.scss */
footer ul.ft-menu a:hover {
  color: #fff;
}
/* line 501, ../dev/scss/main.scss */
footer h1.logo {
  top: 80px;
  left: 50%;
  margin: 0 auto auto -138px;
  position: absolute;
}
/* line 508, ../dev/scss/main.scss */
footer address.copyright {
  width: 220px;
  margin-left: -110px;
  top: 230px;
  left: 50%;
  font-size: 1.4rem;
  position: relative;
}

/* line 521, ../dev/scss/main.scss */
#post-data {
  display: none;
}

/* line 524, ../dev/scss/main.scss */
.inline_content {
  width: 100%;
  overflow: hidden;
  font-size: 2.0rem !important;
}

/* line 529, ../dev/scss/main.scss */
#boxer.inline {
  font-size: 1.4rem;
}
