@charset "utf-8";
@import "compass/reset";


//------------------------------------------------------//
//Var
//------------------------------------------------------//
$main-color: #26b1d2;
$gold-color: #fffac6;
$gold-color-hover: #fff;

$link: #0e89a6;
$hover: #95e5fa;


//media-query
$query-pc: 481px;
$query-sm-land: 480px;
$query-sm: 320px;
//------------------------------------------------------//
//mixin
//------------------------------------------------------//

@mixin beforeafter{
	content: "";
	display: block;
}

@mixin elmhidden{
	text-indent: -10000px;
	white-space: nowrap;
	overflow: hidden;
}

@mixin elmhidden{
	text-indent: -10000px;
	// overflow: hidden;
	// text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;

}

@mixin clearfix{
	content: "";
	clear: both;
	display: block;
}

@mixin gradation-bt($value, $g1 ,$g2){
	@each $prefix in -webkit-, -o-, -ms-, ''{
		#{$prefix}radius: $value;
	}
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '$g1', endColorstr = '$g2')";
	border-radius: $value;
	background-image: -moz-linear-gradient(top, $g1, $g2);
	background-image: -ms-linear-gradient(top, $g1, $g2);
	background-image: -o-linear-gradient(top, $g1, $g2);
	background-image: -webkit-gradient(linear, center top, center bottom, from($g1), to($g2));
	background-image: -webkit-linear-gradient(top, $g1, $g2);
	background-image: linear-gradient(top, $g1, $g2);
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '$g1', endColorstr = '$g2');
}

@mixin sp-header-bg{
	min-width: 320px;
	min-height: (612/2)+px;
	height: (842/2)+px;
	background-image: url(../img/sp_head_bg.png);
	background-position: left bottom;
	background-size: cover;
	background-repeat: no-repeat;
}

@mixin sp-login-bt($width, $height){
	width: $width;
	height: $height;
	margin: auto;
	border: 1px solid #fff;
	background: #45d9e3; /* Old browsers */
	background: linear-gradient(to bottom,  #45d9e3 0%,#2994a6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45d9e3', endColorstr='#2994a6',GradientType=0 ); /* IE6-9 */
	color: #fff;
	font-size: 2.0rem;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	a{ color: #fff; text-decoration: none; }
}

@font-face{
	font-family: mplus-1p-regular;
	src: url('../fonts/mplus-1p-regular.ttf')
	format("truetype");
}//font-face

@font-face{
	font-family: mplus-2c-thin;
	src: url('../fonts/mplus-2c-thin.ttf')
	format("truetype");
}//font-face

@font-face{
	font-family: mplus-2c-medium;
	src: url('../fonts/mplus-2c-medium.ttf')
	format("truetype");
}//font-face

html{
	width: 100%;
	font-size: 62.5%; /*10px */
	font-family: mplus-1p-regular;
}

body{
	width: 100%;
	overflow-x: hidden;
}

article.wrap{
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: relative;
}

//-------------------------------------------------------
//.sec共通
//-------------------------------------------------------

h1.headline{
	padding-top: 80px;
	text-align: center;
}//h1.headline

.content,
.content2,
.content3{
	width: 860px;
	margin: 60px auto 0 auto;

	.sec-text,
	.sec-copy{
		font-size: 1.6rem;
		line-height: 1.8;
	}

	.sec-copy{
		text-align: center;
	}
}

.slider{
	text-align: center;
}

//-------------------------------------------------------
//.sec1
//logo
//-------------------------------------------------------
.sec1{
	width: 100%;
	height: 680px;
	top: 0;
	/* height: 380px; */
	background: url(../img/sec1_bg.png);
	position: relative;
	h1.logo{
		top: 50%;
		left: 50%;
		margin: -96px auto auto -168px;
		position: absolute;
	}//h1.logo
}//.sec1

//-------------------------------------------------------
//.sec2
//About
//-------------------------------------------------------
.sec2{
	width: 100%;
 	/* height: 782px; */
	height: auto;
	min-height: 100%;
	padding-bottom: 80px;
	background: url(../img/sec2_bg.png);
	background-size: cover;
	font-family: 'mplus-2c-thin', sans-serif;
	color: #fff;
	font-size: 2.0rem;
	position: relative;
	.l-img-r-content{
		.left{
			float: left;
			margin-right: 30px;
			img.photo{/* display: none; */}
			ul.sns-ico{
				margin-top: 10px;
				vertical-align: middle;
				li{ margin-right: 10px; display: inline; }
				li.ico-twitter a{ width:29px; height: 24px; }
				li.ico-facebook a{ width:25px; height: 25px; }
			}
		}
		.right{
			overflow: hidden;
			h2,dt{ font-weight: bold; }
			h2{ margin-top: 30px; font-size: 1.6rem; line-height: 1.6; }
			dl{
				margin-top: 20px;
				dt{ margin: 10px 0; font-size: 1.6rem; line-height: 1.6; }
				dd{ display: inline; font-size: 1.6rem; line-height: 1.6; }
				dt+dd{ margin-left: 15px; }
			}
		}
		&:after{ @include beforeafter; clear: both;}
	}
}//.sec2

//-------------------------------------------------------
//.sec3
//Price list
//-------------------------------------------------------
.sec3{
	width: 100%;
	height: auto;
	min-height: 100%;
	padding-bottom: 80px;
	background: url(../img/sec3_bg.png);
	font-family: mplus-1p-regular;
	font-size: 1.6rem;
	position: relative;

	h2.sec3-h2{
		margin-top: 60px;
		padding: 24px 0 24px 24px;
		font-size: 2.0rem;
		line-height: 2.0;
		font-weight: bold;
		color: #720000;
		border-top: 2px solid #720000;
		border-bottom: 2px solid #720000;
	}//.sec3-h2

	table.price-table{
		width:690px;
		margin: 20px auto auto auto;
		position: relative;
		tr{
			td.price-headline{
				font-size: 1.8rem;
				line-height: 1.8;
				color: #720000;
				border: none;
				border-bottom: 2px solid #720000;
			}//td
			td{
				font-size: 1.6rem;
				line-height: 1.6;
				padding: 20px;
				border: 1px dotted #720000;
			}
			td:first-child{ border-left: none; }
			td:last-child{ border-right: none; }
		}//tr

	}
}//.sec3


//-------------------------------------------------------
//.sec4
//Portfolio
//-------------------------------------------------------
@mixin portfolio-comment{
	height: auto;
	padding: 20px;
	margin: 20px auto auto auto;
	text-align: center;
	box-sizing: border-box;

	dt{ margin: auto auto 20px auto; padding: 20px; font-size: 1.6rem; color: #93721c; text-shadow: -1px -1px 0 #000; line-height: 1.4; border-bottom: 1px solid #5d4710; box-sizing: border-box; }
	dd{ padding: 20px; background: #fff; color: #333; font-size: 1.4rem; line-height: 1.5; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; box-sizing: border-box; }
}//portfolio-comment{

.sec4{
	width: 100%;
	height: auto;
	min-height: 100%;
	padding-bottom: 80px;
	background: url(../img/sec4_bg.png);
	font-family: mplus-1p-regular;
	font-size: 1.6rem;
	position: relative;

	.portfolio-main{
		margin-top: 60px;
		&:after{ @include clearfix; }

		.portfolio-main-1{
			width: 396px;
			float: left;
		}
		.portfolio-main-2{
			width: 396px;
			margin-top: 120px;
			float: right;
		}

		dl.comment{
			dt{ width: 274px; background: url(../img/portfolio/portfolio-main-comment-bg.png) repeat-y; }
			@include portfolio-comment;
		}//.dl.comment

	}//.portfolio-main

	.portfolio-sub{
		width: 860px;
		margin: 60px;
		margin-left: -60px;
		display: inline-block;
		&:after{ @include clearfix; }

		.portfolio-sub-item{
			width: 222px;
			text-align: center;
			margin-left: 60px;
			float: left;
		}//.portfolio-sub-item

		dl.comment{
			dt{ margin: auto; background: url(../img/portfolio/portfolio-sub-comment-bg.png) repeat-y; }
			@include portfolio-comment;
		}//.dl.comment

	}//.portfolio-main

}//.sec4


//-------------------------------------------------------
//.sec5
//contact
//-------------------------------------------------------
.sec5{
	width: 100%;
	height: auto;
	min-height: 100%;
	padding-bottom: 80px;
	background: url(../img/sec5_bg.jpg);
	color: $gold-color;
	font-family: mplus-1p-regular;
	font-size: 1.6rem;
	position: relative;

	.attention{
		font-size: 1.2rem;
	}

	.content,
	.content2,
	.content3{
		// width: 535px;
	}

	.content2{
		// height: 535px;
	}

	dl.form-block{
		display: inline-block;

		dt{
			width: 180px;
			text-align: right;
			margin: 0 20px 30px auto;
			float: left;
			clear: left;
		}

		dd{
			width: 380px;
			margin: 0 0 30px 0;
			text-align: left;
			word-break:break-all;
			float: left;

			input,
			select,
			textarea{
				width: 380px;
			}
		}

	}//dl.form-block

	form.contact-form{
		margin: 60px auto auto auto;
		text-align: center;
		display: block;

	}//.contact-form

	.check-bt,
	.submit-bt,
	.reset-bt{
		width: 288px;
		height: 88px;
		padding: 0;
		margin: 80px auto auto auto;
		clear: both;
		cursor: pointer;
		line-height: 0;
		border-style: none;
		font-size: 0;
		display: block;
	}//.submit-bt

	.set-bt{
		&:after{ @include clearfix; }
	}

	.check-bt{
		background: url(../img/check_bt.png) no-repeat;
		&:hover{
			background: url(../img/check_bt_over.png) no-repeat;
		}
	}//.check-bt

	.submit-bt{
		background: url(../img/submit_bt.png) no-repeat;
		display: inline;
		&:hover{
			background: url(../img/submit_bt_over.png) no-repeat;
		}
	}//.submit-bt

	.reset-bt{
		background: url(../img/reset_bt.png) no-repeat;
		display: inline;
		&:hover{
			background: url(../img/reset_bt_over.png) no-repeat;
		}
	}//.submit-bt

	.privacy{
		width: 860px;
		margin: 80px auto auto auto;
		padding: 25px;
		background: url(../img/sec5_privacy_bg.jpg);
		border: 1px solid #fffac6;
		color: #fff;
		font-family: 'mplus-2c-thin', sans-serif;
		dt{
			line-height: 1.6; margin-bottom: 18px;
			font-weight: bold;
			h2{ font-size: 2.0rem; }
			h3{ margin-top: 18px; font-size: 1.8rem; }
		}//dt
		dd{
			font-size: 1.4rem; line-height: 1.6;
			ul{
				margin: 10px 0 0 40px;
				li{
					list-style-type: disc;
				}
			}
		}//dd
	}
}//.sec5

//-------------------------------------------------------
//footer
//-------------------------------------------------------
footer{
	width: 100%;
	height: 260px;
/* 	height: auto;
min-height: 100%;
 */
	background: url(../img/sec1_bg.png);
	color: $gold-color;
	font-size: 1.6rem;
	bottom: 0;
	position: relative;
	ul.ft-menu{
		width: 500px;
		top: 20px;
		left: 50%;
		position: absolute;
		margin-left: -250px;
		li{ display: inline; vertical-align: middle; font-family: mplus-2c-medium; }
		a{
			&:link,&visited{ color: $gold-color; }
			&:hover{ color: $gold-color-hover; }
		}
	}
	h1.logo{
		top: 80px;
		left: 50%;
		margin: 0 auto auto -138px;
		position: absolute;
	}//h1.logo

	address.copyright{
		width: 220px;
		margin-left: -110px;
		top: 230px;
		left: 50%;
		font-size: 1.4rem;
		position: relative;
	}//address.copyright
}//footer

//-------------------------------------------------------
//Boxer reset
//-------------------------------------------------------
	#post-data{
		display: none;
	}
	.inline_content{
	  width: 100%;
		overflow: hidden;
		font-size: 2.0rem !important;
	}//.inline_content
	#boxer.inline {
	  font-size: 1.4rem;
	}
